@model EditWebHookViewModel
@{
    bool IsSslVerificationVisible()
    {
        return Model.WebHook.Url != null &&
               Model.WebHook.Url.Trim().ToLower().StartsWith("https://");
    }
}
<h1>@RenderTitleSegments(T["Create Webhook"])</h1>

<p>
    We’ll send a request to the URL below with the details of the subscribed events.
</p>

<form asp-action="Create" asp-controller="WebHook" asp-area="OrchardCore.WebHooks" method="post">
    @Html.ValidationSummary()

    <fieldset class="form-group" asp-validation-class-for="WebHook.Name">
        <label asp-for="WebHook.Name">@T["Name"] <small class="text-muted">@T["(required)"]</small> <span asp-validation-for="WebHook.Name"></span></label>
        <input asp-for="WebHook.Name" class="form-control" type="text" />
    </fieldset>

    <fieldset class="form-group" asp-validation-class-for="WebHook.Url">
        <label asp-for="WebHook.Url">@T["URL"] <small class="text-muted">@T["(required)"]</small> <span asp-validation-for="WebHook.Url"></span></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <select asp-for="WebHook.HttpMethod" class="custom-select">
                    <option selected>POST</option>
                    <option>GET</option>
                    <option>PUT</option>
                    <option>DELETE</option>
                    <option>PATCH</option>
                    <option>HEAD</option>
                </select>
            </div>
            <input asp-for="WebHook.Url" class="form-control" type="text" />
        </div>
        <span class="hint">@T["The URL the webhook notification will be sent to."]</span>
    </fieldset>

    <fieldset id="sslVerificationFields" class="form-group alert
              @(Model.WebHook.ValidateSsl ? "alert-success" : "alert-danger")
              @(IsSslVerificationVisible() ? "" : "d-none")"
              role="alert">
        <div>@T["SSL Verification"]</div>
        <p><small class="text-muted"><i class="fa fa-lock"></i> @T["By default, SSL certificates are verified when sending notifications."]</small></p>
        <div class="form-check form-check-inline">
            <input asp-for="WebHook.ValidateSsl" class="form-check-input" type="radio" id="enableVerificationRadio" value="true">
            <label class="form-check-label" for="enableVerificationRadio">
                <strong>@T["Enable SSL verification"]</strong>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="WebHook.ValidateSsl" class="form-check-input" type="radio" id="disableVerificationRadio" value="false" data-toggle="modal" data-target="#exampleModal">
            <label class="form-check-label" for="disableVerificationRadio">
                @T["Disable"] <small class="text-muted">@T["(not recommended)"]</small>
            </label>
        </div>
    </fieldset>

    <fieldset class="form-group" asp-validation-class-for="WebHook.Secret">
        <label asp-for="WebHook.Secret">@T["Secret"] <small class="text-muted">@T["(required)"]</small> <span asp-validation-for="WebHook.Secret"></span></label>
        <div class="input-group">
            <input asp-for="WebHook.Secret" class="form-control" type="text" />
            <div class="input-group-append">
                <button id="btn-regenerate" class="btn btn-outline-primary">
                    <i class="fa fa-redo-alt"></i> @T["Regenerate"]
                </button>
            </div>
        </div>
        <span class="hint">@T["This secret is used to sign all notifications. Use the generated secret or enter your own."]</small>
    </fieldset>

    <partial name="_Triggers" model="Model" />
    <partial name="_Headers" model="Model" />
    <partial name="_Payload" model="Model" />

    <hr />
    <fieldset class="form-group">
        <input asp-for="WebHook.Enabled" type="checkbox" />
        <label class="form-check-label" asp-for="WebHook.Enabled">
            Enabled
        </label>
        <span class="hint">@T["We will send notifications when your selected event(s) occur."]</small>
    </fieldset>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">@T["Save"]</button>
        <a class="btn btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>

<!-- SSL Verification Modal -->
<div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verificationModalLabel">@T["Are you sure?"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @T["SSL verification helps ensure that hook payloads are delivered to your URL endpoint securely, " +
                   "keeping your data away from prying eyes. Disabling this option is <strong>not recommended</strong>."]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button id="disableVerificationButton" type="button" class="btn btn-danger" data-dismiss="modal">Disable, I understand the risks</button>
            </div>
        </div>
    </div>
</div>

<style asp-src="/OrchardCore.WebHooks/Styles/webhooks.edit.css"></style>
<script depends-on="jQuery" asp-src="~/OrchardCore.WebHooks/Scripts/webhooks.edit.js" type="text/javascript" at="Foot"></script>

<script at="Foot">
    $(function()
    {
        // Secret Field
        function setRandomSecret(override) {
            var field = $('#@Html.IdFor(x => x.WebHook.Secret)');
            // Don't set a new secret if there's already one set unless told to override.
            if (field.val() && !override) {
                return;
            }

            var secret = Math.random().toString(36).substring(2, 15) +
                Math.random().toString(36).substring(2, 15) +
                Math.random().toString(36).substring(2, 15);

            field.val(secret);
        }

        setRandomSecret(false);
        $(document).on('click', '#btn-regenerate', function (e) {
            e.preventDefault();
            setRandomSecret(true);
        });
        
        // Custom Headers Field
        function initHeaderFields() {
            var controlForm = $('#headers #headersContainer:first');
            controlForm.find('.header:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="fa fa-trash"></span>');

            $('#headersContainer input.headerKey').each(function (index) {
                $(this).attr("name", "WebHook.Headers[" + index + "].Key");
            });
            $('#headersContainer input.headerValue').each(function (index) {
                $(this).attr("name", "WebHook.Headers[" + index + "].Value");
            });
        }

        initHeaderFields();
        $(document).on('click', '.btn-add', function(e)
        {
            e.preventDefault();

            var controlForm = $('#headers #headersContainer:first'),
                currentEntry = $(this).parents('.header:first'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm);

            newEntry.find('input').val('');
            initHeaderFields();

        }).on('click', '.btn-remove', function(e)
        {
            $(this).parents('.header:first').remove();
            initHeaderFields();
            e.preventDefault();
            return false;
        });

        // SSL Verification Fields
        $('#@Html.IdFor(x => x.WebHook.Url)').keyup(function () {
            var input = $(this);
            var val = input.val();

            if (val.trim().toLowerCase().startsWith("https://")) {
                $('#sslVerificationFields').removeClass('d-none');
            } else {
                $('#sslVerificationFields').addClass('d-none');
            }
        });

        $('#enableVerificationRadio').on('change',
            function() {
                $('#sslVerificationFields').addClass('alert-success').removeClass('alert-danger');
            });

        $('#disableVerificationRadio').click(
            function(e) {

                $('#verificationModal').modal();

                e.preventDefault();
                return false;     
            });

        // Modal Disable Button
        $('#disableVerificationButton').click(
            function () {
                $('#sslVerificationFields').addClass('alert-danger').removeClass('alert-success');
                $('#disableVerificationRadio').prop('checked', true);
            });
    });
</script>